body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(219, 12%, 42%);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  min-height: 100vh;
  background-color: hsl(210, 60%, 98%);
/*   opacity: .7;
  background-image: url(design/desktop-design.jpg); */
}
main {
  background-color: hsl(0, 0%, 100%);
}
.container {
  max-width: 736px;
}
h1 {
  font-size: 20px;
  color: hsl(224, 21%, 14%);
  font-weight: 800;
}
h1 span {
  color: hsl(0, 0%, 100%);
  background-color: hsl(219, 85%, 26%);
}
p {
  font-size: 14px;
  line-height: 1.1em;
}
img {
  width: 64px !important;
}
div div p:last-child {
  border: 1px solid hsl(205, 33%, 90%);
  line-height: 1.3em;
}
div div p:last-child:hover {
  cursor: pointer;
  border: none;
  background-color: hsl(211, 68%, 94%);
}
div div img:hover, main > div:first-child small:hover {
  cursor: pointer;
}
small {
  font-size: 14px;
}

.unseen {
  background-color: hsl(210, 60%, 98%);
}
.primary {
  color: hsl(224, 21%, 14%);
  font-weight: 800;
}
.group {
  color: hsl(219, 85%, 26%);
  font-weight: 800;
}
.post {
  font-weight: 800;
}
.primary:hover, .group:hover, .post:hover {
  cursor: pointer;
  color: hsl(219, 85%, 26%);
}
.dot {
  font-size: 9px;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-display: swap;
  src: url(/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}