body {
  color: hsl(219, 12%, 42%);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  min-height: 100vh;
  /* opacity: .7;
  background-image: url(design/mobile-design.jpg); */
}
h1 {
  font-size: 20px;
}
h1 span {
  color: hsl(0, 0%, 100%);
  background-color: hsl(219, 85%, 26%);
}
p {
  font-size: 14px;
  line-height: 1.1em;
}
div div p:last-child {
  line-height: 1.3em;
}
small {
  font-size: 14px;
}

.unseen {
  background-color: hsl(205, 33%, 90%);
}
.primary {
  color: hsl(224, 21%, 14%);
  font-weight: 800;
}
.group {
  color: hsl(219, 85%, 26%);
  font-weight: 800;
}
.post {
  font-weight: 800;
}
.dot {
  font-size: 9px;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-display: swap;
  src: url(/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
